<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <script src="/public/angularFile/app.js"></script>
    <script src="/public/angularFile/controller.js"></script>
    <script src="/public/angularFile/service.js"></script>
    <style>
        .containe{
            float: left;
            margin: auto;
            width: 20%;
        }
        @media screen and (max-width: 700px){
            .containe{
                width: 50%;
            }
        }
    </style>

</head>
<body ng-app="PlayAround">
<div class="row">

    <h2 align="center" style="color: #FEC35E">I tuoi Amici</h2>
    <div ng-controller="artistiPrefCtrl">
        <div ng-repeat="user in preferiti" class="containe">

            <a href="#!artista/{{user.codice}}">
                <img ng-src={{user.immagine}} alt="Avatar" style="width:90px">
                <p style="color: #f4f4f4">{{user.nome}}</p>

            </a>

        </div>
    </div>
</div>
</body>
</html>