<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <script src="/public/angularFile/app.js"></script>
    <script src="/public/angularFile/controller.js"></script>
    <script src="/public/angularFile/service.js"></script>

    <style>
        h2{
            color: #2a4463;
        }
        .repetition{
            padding: 8px;
            float: left;
            width: 20%;


        }
        .container{
            width:100%;
        }
        p{
            cursor: pointer;
        }
        @media screen and (max-width: 900px){
            .repetition{
                width: 30%;
            }
        }

    </style>

</head>
<body>

<div class="row">
    <div class="container" style="border-radius: 10px" align="center">
        <h2 align="center">Playlist Giornaliera</h2>

        <div class="repetition" style="float: left">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg">
            <p style="color: #2a4463">Playlist</p>s
        </div>

        <div class="repetition">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg">
            <p style="color: #2a4463">Playlist</p>s
        </div>
        <div class="repetition">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg">
            <p style="color: #2a4463">Playlist</p>s
        </div>
        <div class="repetition">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg">
            <p style="color: #2a4463">Playlist</p>s
        </div>
        <div class="repetition">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg">
            <p style="color: #2a4463">Playlist</p>s
        </div>

    </div>
    <div class="container" style="border-radius: 10px" align="center">
        <h2 align="center">Ascoltati di Recente</h2>
        <div style="width: 100%">
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>
        </div>
    </div>
    <div class="container" style="border-radius: 10px" align="center">
        <h2 align="center">Cosa ascoltano i tuoi Amici</h2>
        <div style="width: 100%">
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                 <p style="color: #2a4463">Brano</p>s
            </div>
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>
            <div class="repetition" style="float: left">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                <p style="color: #2a4463">Brano</p>s
            </div>

        </div>
    </div>


</div>
</body>
</html>