<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <script src="/public/angularFile/app.js"></script>
    <script src="/public/angularFile/controller.js"></script>
    <script src="/public/angularFile/service.js"></script>

    <style>
        h2{
            color: #FEC35E;
        }
        .repetition{
            display: inline;
            padding: 8px;
            float: left;
            width: 20%;


        }
        .container{
            width:100%;

        }
        p{
            cursor: pointer;
        }
        @media screen and (max-width: 900px){
            .repetition{
                width: 30%;
            }
        }

    </style>

</head>
<body>

<div class="row">

    <div class="container" style="border-radius: 10px" align="center">
        <h2 align="center">Playlist Giornaliera</h2>
        <div class="repetition" style="float: left" ng-repeat="playlist in playlistG">
           <a href="#!">
            <img ng-src={{playlist.immagine}} style="width: 120px; height: 120px;">
            <p style="color: whitesmoke ">{{playlist.nome}}</p>
           </a>
        </div>
    </div>
    <div class="container" style="border-radius: 10px" align="center">
        <h2 align="center">Ascoltati di Recente</h2>
        <div style="width: 100%">

            <div class="repetition" style="float: left" ng-repeat="brani in recently">
                <img ng-src={{brani.immagine}} style="width: 120px; height: 120px;">
                <p style="color: whitesmoke">{{brani.nome}}</p>
            </div>

        </div>
    </div>
    <div class="container" style="border-radius: 10px" align="center">
        <h2 align="center">Cosa ascoltano i tuoi Amici</h2>
        <div style="width: 100%">
            <div class="repetition" style="float: left" ng-repeat="braniAmici in musicFriends">
                <img ng-src={{braniAmici.immagine}} style="width: 120px; height: 120px;">
                 <p style="color: #2a4463">{{braniAmici.nome}}</p>s
            </div>


        </div>
    </div>


</div>
</body>
</html>